body{
    background: url(https://4kwallpapers.com/images/wallpapers/new-york-city-cityscape-night-city-lights-half-moon-5k-2880x1800-437.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.booking-form-box{
    max-width: 350px;
    border: 8px solid #ced4da;
    margin: 10% auto 0;
    background: solid blur;
    margin-bottom: 90px;


}

.radio-btn{
    margin: 0 20px;

}

.radio-bn .btn{
    margin: 20px 10px 20px 0;
    box-shadow: 0 2px 0 2px  rgba(0,0,0.5,0.6);
}

.radio-btn .btn::after{
    content: '';
    height: 15px;
    width: 15px;
    top: -5px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;

}

.radio-btn .btn:checked::after{
    content: '';
    background-color: darkblue;
    transition: 0.5s;
}

.radio-btn span{
    color: #fff;
    font-weight: 700;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13px;

}

.booking-form{

    padding: 0 20px 20px;

}

.booking-form label{

    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
    color: #fff;
}


input::placeholder{
    /*color:  ;*/
    font-weight: bold;
}

input:hover{
    color: white;
    background: darkblue;

}



.input-grp{

    width: 170px;
    display: inline-block;
}

.input-grp  button{
    margin-top: 20px;
    align-content: left;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    background: #fff;
    /*border-radius: */
}

.input-grp  button:hover{
    background: darkblue;
    font-size: 15px;
    font-weight: bold;
    transition: 0.6s;

}

.input-grp .form-control-select-date{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    padding: 6px;
    border-radius: 5px;
    box-shadow: inset 1px -2px -1px 0 rgba(0,0,0,0.5)
                inset  1px 2px 1px 0 rgba(0,0,0,0.5) ;
}

.input-grp .form-control-select-date:hover{
    color: #fff;
    background: darkblue;
    transition: 0.5s;

}

.input-grp .form-control-select-value{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    background: white;
    transition: 0.5s;
    padding: 6px;
    width: 185px;
    border-radius: 5px;

}

.input-grp .form-control-select-value:hover{
    border: 1px solid blue;
    background: darkblue;
    color: #fff;
    transition: 0.5s;


}

.input-grp select{
     color: #fff;
    background: darkblue;
    transition: 0.5s;


}

.form-control{
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
    color: #fff;
    background: transparent;
    box-shadow: 0 1px  3px 1px rgba(0,0,0,0,0.9);
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;

}

.select-date::-webkit-calender-picker-indicator
{
    background: transparent !important;

}

.custom-select{
    color: #fff;
    font-size: 15px !important;
    border: 2px solid blue !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    /*background: transparent !important;*/
}

.custom-select option{
    color: #333;
}

.flight{
    /*width: 100%;*/
    padding: 9px 0;
    font-size: 15px;
    /*background: transparent;*/

}
